[Unit]
Description=copycat Service for MariaDB
After=network.target
After=syslog.target

[Service]
Type=simple

User=root
Group=root

PIDFile=/run/copycat/copycat.pid
ExecStart=/usr/bin/copycat
ExecStop=/usr/bin/copycat -stop
ExecReload=/usr/bin/copycat -service-reload all

[Install]
WantedBy=multi-user.target
